<p>
  <strong>Content:</strong><br>
  <%= @barcode.content %>
</p>

<p>
  <strong>Barcode:</strong><br>
  <%= image_tag @barcode.image.url, width: 300, id: "barcode_image" %>
</p>

<%= link_to barcode_path(@barcode, format: :jpg) do %>
  <%= button_tag 'Download' %>
<% end %>
