.main-wrapper {
  @include outer-container(80%);
  margin-top: 2em;
  text-align: center;

  #scan_image {
    display: inline-block;
    max-width: 13em;    
  }

  .form-actions {
    @include span-columns(12 of 12);
  }
}